body{
    background-color: white  ;
    color : rgb(35, 41, 49) ;
    font-family : 'Fredoka', sans-serif;
    font-size: x-large;
}

/*Intro Title*/
.navbar{
    background-color: rgb(78, 204, 163);
}
.outerbox{
    position: relative;
    top :100px ;
    width : inherit;
    height: 100px ;
    background-color: white;

}
.title{
    font-size: xxx-large;
}

/*Mission*/
.mission_outer_page{
    position: relative;
    top : 250px   ;
    padding : 40px 20px 40px 20px  ;
    background-color: rgb(167, 255, 131);
    color : rgb(21, 45, 53);
}
.mission_title{
    padding-bottom: 12px ;
    font-size: xxx-large;
}
.mission_sub_title{
    font-size: x-large ;
}

/*Products*/
.product_outer_page{
    position: relative;
    top : 230px  ;
    background-color: rgb(8, 105, 114) ;
    color : white ;
    padding-top : 25px;
}
.product_heading{
    font-size: xxx-large;
    padding-top : 20px ;
    padding-bottom: 20px ;

}
/*About Page*/
.about_outer_page{
    background-color: rgb(23, 185, 120) ;
    padding-top : 24px ;
    position: relative ;
    top : 210px   ;
}
/*Work OuterPage*/

.work_outer_page{
    position: relative ;
    top : 210px ;
}
